/*==========================================================================
  GENERAL
========================================================================== */
#main{
	margin-bottom:80px;
}
.boxwhite{
	background:#ffffff;
	border: 7px solid #ecebdc;
	@include box-shadow( inset 0 0 1px #2E2A11);
	padding:40px 23px;
	padding-bottom:40px;
	overflow:hidden;
	position:relative;
}

.boxthin{
	background:#ffffff;
	border: 2px solid #ecebdc;
	padding:40px 23px;
	padding-bottom:40px;
	overflow:hidden;
	position:relative;
}

/* ======== HEADING ======== */
.title_big{
	color:#1f1f1f;
	font:400 45px "warnock-pro", sans-serif;
	margin-top:0;
	text-align:center;
	line-height:1.2em;
	width: 98%;
	margin-left:auto;
	margin-right:auto;
	font-weight:600;
	margin-bottom:23px;

	&.lt{
		text-align:left;
	}
}

.title_bigleft{
	color:#1f1f1f;
	font:400 37px "warnock-pro", sans-serif;
	margin-top:0;
	line-height:1.2em;
	margin-left:auto;
	margin-right:auto;
	font-weight:600;
	margin-bottom:23px;

	&.lowmargin{
		margin-bottom:10px;
	}
}

.title_blog{
	color:#1f1f1f;
	font:400 45px "warnock-pro", sans-serif;
	margin-top:0;
	text-align:center;
	line-height:1.2em;
	width: 98%;
	margin-left:auto;
	margin-right:auto;
	font-weight:600;
	margin-bottom:23px;
}

.title_foot{
	color:#c3be88;
	font:400 25px "warnock-pro", sans-serif;
	margin-top:0;
}
.title_md{
	font:400 34px "warnock-pro", sans-serif;
	margin-top:0;
	color:#1f1f1f;
}
.title_sb{
	font:600 20px "warnock-pro", sans-serif;
	margin:0;
	margin-bottom:15px;
	color:#1f1f1f;
	line-height: 1.2em;
}

.title__article{
	font:600 23px "warnock-pro", sans-serif;
	margin:0;
	margin-bottom:12px;
	color:#1f1f1f;
	line-height: 1.2em;
}

.headerdesc{
	.title_big{
		margin-bottom: 10px;
	}

	p{
		font-size: 22px;
	}
}

/* ======== BUTTON ======== */
.btn-green{
	background:none;
	border:none;
	color:white;
	text-shadow:none;
	background:#598527;
	color:white;
	padding: 13px 25px 11px 25px;
	position:relative;
	font-size:13px;
	text-transform:uppercase;
	font-weight:600;
	border:1px solid #8eac6c;
	@include box-shadow(0 0 0 4px #598527);
	@include prefixed(transition, all 0.3s ease-in-out);

	&:hover{
		@include opacity(0.7);
		color:white;
		text-decoration:none;
	}
}

.link_back{
		@include inline-block();
		text-align:center;
		padding-left:16px;
		background:transparent url("../img/arrback_1.png") left top no-repeat;
		color:black;
		text-transform:uppercase;
		text-decoration:none;
		@include prefixed(transition, opacity 0.3s ease-out);
		
		&:hover{
			@include opacity(0.5);
		}

		span{
			@include inline-block();
			background:#efefef;
			padding: 8px 15px 4px 15px;
			font-size:14px;
			border-right:1px solid #a8a8a8;
			border-top:1px solid #a8a8a8;
			border-bottom:1px solid #a8a8a8;
		}
}

.btn-blue{
	border:none;
	background:none;
	text-shadow:none;
	position:relative;
	color:white;
	@include inline-block();
	background:#0072bc;
	padding:5px 15px;
	font-size:1em;
	text-align:center;
	@include box-shadow(0px 0px 0px 3px #0072bc);
	border:1px solid #7db7dd;
	@include prefixed(transition, opacity 0.3s linear);
	@include min-width(150px);
	
	&:hover{
		text-decoration:none;
		@include opacity(0.8);
		color:white;
	}
}

/* ======== NAV IN MAIN ======== */
.mainNav{
	margin-bottom:30px;

	&.sm{
		li{
			width:32%;
		}
	}
	ul li{
		@include inline-block();
		width:24%;
		vertical-align:middle;
		margin-right: 4px;
		&:hover, &.active{
			a{
				background:#e7f3d7;
				border-bottom:4px solid #007236;
				color:black;
			}
		}


		a{
			display:block;
			padding: 12px 10px 8px 10px;
			color:#4f4e4c;
			font-size:20px;
			line-height:1.2em;
			border-bottom:4px solid #cccccc;
			text-decoration:none;
			@include prefixed(transition, all 0.3s ease-in);
		}

		em{font-size:14px;}
	}

	&.gold{
			li{
				&:hover, &.active{
				a{
					background:#f6ecb8;
					border-bottom:4px solid #c0b473;
					color:black;
				}
			}	
		}
	}
}

.remore{
	color:#0072bc;
	text-decoration:underline;
	font-style:italic;
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
}


.olayblack{
	position:absolute;
	bottom:-350px;
	width:100%;
	height:100%;
	padding:25px;
	background-color:#363636;
	background-color:rgba(0, 0, 0, 0.7);
	color:white;
	/* Slide Transition */
	@include prefixed(transition, bottom 0.4s);
}


/* ======== FILTER NAV ======== */
.shufflenav
    {
    	  width:100%;
	      display:block;
	      margin-bottom:30px;
	      overflow:hidden;
      li{
	      float:left;
	      padding:0 5px;
	      	 a{
		       padding: 7px 10px 3px;
		       font-size:15px;
		       @include inline-block;
		       border:1px solid #cccccc;
		       color:#77778a;
		        border-radius:3px;
		        -moz-border-radius:3px;
		        -webkit-border-radius:3px;
		        text-decoration:none;
		        @include prefixed(transition, all 0.2s ease-in);
		     }
		    &.active a, &:hover a
		     {
		       background-color:#726661;
		       color:white;
		     }
	    }
    }


#fullbg{
	position:absolute; 
	top:109px; 
	left:0; 
	@include size(100%, 627px);
	z-index: -1;

	figure{
		@include size(100%, 627px);
	}
 }


 /* ======== FORM ======== */
 .form-control{
		background:#e9ecee;
		border:1px solid #e9ecee;
		@include box-shadow(none);
		font-size: 1em;
		height: 38px;
		&:focus{
				background:white;
		}
	}
	.help-block{
		margin-bottom:0;
		font-style:italic;
		font-size:0.9em;
		line-height: 1.2em;
	}

/* ======== MODAL ======== */
.modal-content{
	@include border-radius(0);
	border:1px solid #d9d9d9;
	@include box-shadow(0 0 0 8px white);

	.close{
		background:url("../img/close.png") 0 0 no-repeat;
		@include size(59px, 88px);
		@include hide-text();
		position:absolute;
		z-index:999;
		bottom:-130px;
		left:0;
		right:0;
		margin:0 auto;

		&:focus{
			outline:none;
		}
	}
}
.modal-body{
	padding:20px;
	h3{
		color:#1f1f1f;
		font-size:30px;
		margin-top:0;
	}
}