body{
	background:#f6f5f0;
	font:17px/1.4 "warnock-pro", sans-serif, Helvetica, Arial;
	color:#4f4e4c;
	font-weight:400;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
