@import "compass";
@import "compass/css3";
@import "compass/css3/images";

@media (min-width: 1200px){}

@media (min-width: 992px) and (max-width: 1199px){}

@media (max-width: 1200px){
	#footer .subscribe .form-group{
		width:100%;
	}
	.ft-blog ul li p{
		overflow:visible
	}

	.mainNav ul li a{
		font-size:1em;
	}

	.navigation ul a{
		padding: 7px 10px 5px 10px;
		font-size:12px;
	}

	#intabout{
		@include min-height(430px);
	}
	.captionleft{
		top:80px;
		width:60%;

		h3{
			font-size:45px;
		}
	}


	#concert-date hgroup:after{
		left:-40%;
	}

}
@media (max-width: 979px) {
	#logo{
		height:100px;
	}

	#intro{
		@include min-height(300px);
		.caption{
			top:60px;
			 h3{
				font-size:30px;
			}

			.btn-green{
				font-size:12px;
				padding:10px 20px 8px 20px;
			}
		}
	}

	#intabout{
		@include min-height(350px);
	}
	.captionleft{
	 	h3{
			font-size: 2.2em;
		}
		span{font-size:1em}
	}

	.mainNav ul li{
		margin-bottom: 5px;
		width:auto;
	}
	.boxwhite.lined:before{
		display:none;
	}

	.navigation{
		ul{
			float:none;

		}
	}
	.headline{
		font-size:23px;
	}

	.slide-testi{
		margin-top:25px;
	}

	.splastext{
		margin-bottom:30px;
	}

	.blogitem{
		.caption{
			strong{
				font-size:20px;
			}
		}
	}

	.relatedplace{
		article{
			margin-bottom:25px;
		}
	}

	.title_blog{
		font-size:30px;
	}
	.title_md{
		font-size:25px;
	}

	.blogquote {
		width:auto;
		figure{
			float:none;
			margin: 0 auto;
		}
		blockquote{
			margin-top:4%;
		}
	}

	.postdetail {
		.fit{
			width:auto;
		}
	}
	.item-nextpost {
		figure{
			margin:0 auto;
			margin-bottom:12px;
			float:none;
		}
	}
	.bannerBtm{
		@include min-height(0);
		height:auto;
	}
	.item-nextpost{
		margin-bottom:30px;
	}
	.wdg-sidenav{
		margin-bottom:30px;
	}

	.concertName {
		.item{
			margin-bottom:20px;
		}
	}

	.sideForm .btn-blue{
		font-size:14px;
		padding-bottom: 5px;
    	padding-top: 7px;
	}

	#concert-date hgroup h1{
		font-size:55px;
	}
	#concert-date hgroup:after{
		left:-8%;
	}

	#sidebar{
		.shadow{
			display:none;
		}
	}

	.ft-wdg{
		margin-bottom: 25px;
		padding-bottom: 25px;
		border-bottom:1px solid #31353A;
		&.ft-blog{
			border-bottom:none;
			padding-bottom:0;
		}
	}

	#footer {
		.topfoot{
			padding-bottom:0;
		}
			.subscribe {
			.form-group{
				float:none;
				margin-right:0;
			}
			.form-control.st{margin-right:14px;}
		 	.btn-green{
		 		max-width: none;
				padding-top: 13px;
				padding-bottom: 10px;
				float:none;
		 	}
		 }
	}

	.ft-blog ul li{
		width:45%;
		float: left;
		margin-right: 5%;
	}

	.copyright{
		padding:0 25px;
	}

}


@media (min-width: 768px) and (max-width: 979px){
	.navigation ul a{
		font-size:13px;
		padding-right:12px;
		padding-left:12px;
	}

	.archiveitem{
		.caption{
			bottom: -258px;
			p {
				strong{
					font-size:1em;
					padding: 9px 15px;
				}
				span{
					padding: 8px;
					font-size: 0.8em;
				}
			}
		}
	}

}

@media (max-width: 767px){
	.secrow{
		padding:0;
		@include min-height(0);
		height:auto !important;
	}
	#logo{
		height:auto;
		figure{
			width:60%;
			position:relative;
			top:0;
		}
	}

	#intro{
		@include min-height(260px);

		.caption{
			right:80px;
			top:40px;
			 h3{
				font-size:22px;
			}

			.btn-green{
				font-size:12px;
				padding:10px 10px 8px 10px;
			}
		}
	}

	.bannerBtm{
		a{
			top:28%;
		}
	}

	.title_blog{
		font-size:26px;
	}
	.title_md{
		font-size:20px;
	}


	.thumbabout blockquote{
		margin-top:5%;
	}

	.archiveitem{
		width: 80%;
		margin: 0 auto 25px auto;
		figure{
			height:250px;
		}
		.caption {
			bottom: -205px;
			p {
				strong{
					font-size:18px;
					padding: 9px 15px;
				}
			}
		}
	}

	.title_big{
		font-size:30px;
	}
	.headline{
		font-size:20px;
	}

	.postdetail{
		strong{
			font-size:20px;
		}
	}

	#leftside{
		margin-bottom:30px;
	}
	#concert-date hgroup h1{
		font-size:45px;
	}
	.concertName {
		strong{
			font-size:20px;
		}
	}

	.mainNav.sm li{
		width:auto
	}

	.asidemail{
		margin-bottom:30px;
	}

	.placelist{
		.inner{
			width:85%;
			margin:0 auto;
			@include min-height(0);
			height:auto;
		}

		figure{
			height:auto;
			img{
				height:auto;
			}
		}
	}

	.headlt{ 
		margin-bottom: 20px;
		padding-top: 30px;
		.link_back {
			float: none;
			position: absolute;
			top: 15px;
			right: 20px;
		}
		.title_bigleft{
			float:none;
			margin-bottom:0px;
		}
	}
	.title_bigleft{
		font-size:33px;
	}

	/* ======== NAVIGATION ======== */
	.nav-toggle{
		display:block;
		margin:18px 0;
	}

	.navigation{
		margin-top:25px;
	}
	.navigation ul {
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  display: block;
	  list-style: none;

		  li{
		  	float: none;
			display: block;
			overflow: hidden;
		  }

		  a{
		  	float: none;
			display: block;
			border-bottom:1px solid #777777;
			font-size:14px;
		  }
	}

	.navigation li {
	  width: 100%;
	  display: block;
	}

	.js .navigation {
	  clip: rect(0 0 0 0);
	  max-height: 0;
	  position: absolute;
	  display: block;
	  overflow: hidden;
	  zoom: 1;
	}
	.navigation.opened {
	  max-height: 100%;
	  margin-bottom:6%;
	}
	.navigation.disable-pointer-events {
	  pointer-events: none !important;
	}
	.navigation ul ul{
		opacity: 1;
		visibility: visible;
		position: static;
		margin:0;
		background:none;

		li:first-child{
			padding-left:0;
		}
	}
	.navigation ul ul a{
		color:#777777;
		border:1px solid transparent;
		width: auto;
		display: block;
		padding:7px 10px;
	}
	.navigation ul ul li{
		margin-left:20px;
	}
	.nav-toggle {
	  -webkit-tap-highlight-color: rgba(0,0,0,0);
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  -o-user-select: none;
	  user-select: none;
	}

	/*additional nav*/
	.navigation ul li:hover > a, .navigation ul li.active > a{
		border:1px solid transparent;
		background: #3d454e;
		color:#c3be88;
	}

	#intabout{
		@include min-height(300px);
	}
	.captionleft{
		top:50px;
		width: 65%;
		left: 25px;
		h3{
			font-size:2em;
		}
	}

	.mainNav ul li{
		width:100%;
		margin-bottom: 7px;
	}

	#sidebar{
		padding-bottom: 18px;
		margin-bottom: 35px;
		background: #FAFAFA;
		padding-top: 18px;
	}

	.blogitem{
		width: 80%;
		margin: 0 auto 30px auto;
		figure{
			height:auto;
		}
		.inner{
			@include min-height(0);
			height:auto;
		}
	}

	.shufflenav {
		li {
			display:block;
			float:none;
			margin-bottom:8px;
			a{
				display:block;
			}
		}
	}

	.concertitem{
		width: 85%;
		margin: 0 auto 30px auto;
		.imgFill{
			height:240px;
		}
	}

	.address{
		p{
			margin-bottom:18px;
		}
	}

	#map iframe{
		height:250px;
	}

	#footer{ 
		.subscribe{
			.form-control.st, .form-control.sd{
				width:100%;
				float:none;	
			}
		}
	}

}

@media (max-width: 570px) {
	#logo figure{
		width:70%;
	}
	.thumbabout blockquote{
		margin-top:0;
		font-size: 0.9em;
		margin-bottom:0;
	}

	.ft-blog ul li figure{
		margin-right: 15px;
		text-align: center;
		margin-bottom: 15px;
		float:none;
	}


	.mainNav.sm li{
		width:100%;
		float:none;
		display:block;
	}

}

@media (max-width: 480px) {
	
	#logo figure{
		width:100%;
		margin:0 auto;
		margin-bottom:15px;
	}
	.captionleft{
		width: 70%;
		h3{
			font-size:1.8em;
		}
	}

	.blogitem{
		width:100%;
	}

	.bannerBtm{
		background:white;
		img{
			display:none;
		}
		a{
			position:relative;
			top:0;
			left:0;
			margin:0 auto;
			margin-bottom:20px;
		}
	}


}

@media (max-width: 330px){
	
	.sidesplash h4{
		font-size:20px;
		padding-bottom: 8px;
		padding-top: 8px;
	}
	.sidesplash ul a{
		font-size:12px;
	}

	.captionleft{
		width: 75%;
		h3{
			font-size:1.4em;
		}
		span{ font-size:0.9em;}
	}

	.modal-dialog{
		.btn-blue{
			font-size:0.8em;
		}
	}

	.archiveitem{
		width:100%;
		.caption{
			p {
				strong{
					font-size:1em;
					padding: 9px 15px;
				}
				span{
					padding: 8px;
					font-size: 0.8em;
				}
			}
		}
	}
	.thumbabout figure{
		width:100%;
		text-align:center;
	}
	.concertitem{
		width: 100%;
		margin: 0 auto 30px auto;
		.imgFill{
			height:240px;
		}
	}

	#concert-date hgroup{
		h1{
			font-size: 33px;
		}
		p{
			font-size:1em
		}
	}

	#map iframe{
		height:200px;
	}

	.placelist{
		.inner{
			width:100%;
			margin:0 auto;
		}
		.olayblack{
			display:none;
		}
	}

	.relatedplace article figure{
			float:none;
			margin-bottom:12px;
			text-align:center;
			width:100%;
			height:auto;
		}



}







