@media (max-width: 1200px) {
  #footer .subscribe .form-group {
    width: 100%;
  }

  .ft-blog ul li p {
    overflow: visible;
  }

  .mainNav ul li a {
    font-size: 1em;
  }

  .navigation ul a {
    padding: 7px 10px 5px 10px;
    font-size: 12px;
  }

  #intabout {
    min-height: 430px;
    height: auto !important;
    height: 430px;
  }

  .captionleft {
    top: 80px;
    width: 60%;
  }
  .captionleft h3 {
    font-size: 45px;
  }

  #concert-date hgroup:after {
    left: -40%;
  }
}
@media (max-width: 979px) {
  #logo {
    height: 100px;
  }

  #intro {
    min-height: 300px;
    height: auto !important;
    height: 300px;
  }
  #intro .caption {
    top: 60px;
  }
  #intro .caption h3 {
    font-size: 30px;
  }
  #intro .caption .btn-green {
    font-size: 12px;
    padding: 10px 20px 8px 20px;
  }

  #intabout {
    min-height: 350px;
    height: auto !important;
    height: 350px;
  }

  .captionleft h3 {
    font-size: 2.2em;
  }
  .captionleft span {
    font-size: 1em;
  }

  .mainNav ul li {
    margin-bottom: 5px;
    width: auto;
  }

  .boxwhite.lined:before {
    display: none;
  }

  .navigation ul {
    float: none;
  }

  .headline {
    font-size: 23px;
  }

  .slide-testi {
    margin-top: 25px;
  }

  .splastext {
    margin-bottom: 30px;
  }

  .blogitem .caption strong {
    font-size: 20px;
  }

  .relatedplace article {
    margin-bottom: 25px;
  }

  .title_blog {
    font-size: 30px;
  }

  .title_md {
    font-size: 25px;
  }

  .blogquote {
    width: auto;
  }
  .blogquote figure {
    float: none;
    margin: 0 auto;
  }
  .blogquote blockquote {
    margin-top: 4%;
  }

  .postdetail .fit {
    width: auto;
  }

  .item-nextpost figure {
    margin: 0 auto;
    margin-bottom: 12px;
    float: none;
  }

  .bannerBtm {
    min-height: 0;
    height: auto !important;
    height: 0;
    height: auto;
  }

  .item-nextpost {
    margin-bottom: 30px;
  }

  .wdg-sidenav {
    margin-bottom: 30px;
  }

  .concertName .item {
    margin-bottom: 20px;
  }

  .sideForm .btn-blue {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 7px;
  }

  #concert-date hgroup h1 {
    font-size: 55px;
  }

  #concert-date hgroup:after {
    left: -8%;
  }

  #sidebar .shadow {
    display: none;
  }

  .ft-wdg {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #31353A;
  }
  .ft-wdg.ft-blog {
    border-bottom: none;
    padding-bottom: 0;
  }

  #footer .topfoot {
    padding-bottom: 0;
  }
  #footer .subscribe .form-group {
    float: none;
    margin-right: 0;
  }
  #footer .subscribe .form-control.st {
    margin-right: 14px;
  }
  #footer .subscribe .btn-green {
    max-width: none;
    padding-top: 13px;
    padding-bottom: 10px;
    float: none;
  }

  .ft-blog ul li {
    width: 45%;
    float: left;
    margin-right: 5%;
  }

  .copyright {
    padding: 0 25px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navigation ul a {
    font-size: 13px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .archiveitem .caption {
    bottom: -258px;
  }
  .archiveitem .caption p strong {
    font-size: 1em;
    padding: 9px 15px;
  }
  .archiveitem .caption p span {
    padding: 8px;
    font-size: 0.8em;
  }
}
@media (max-width: 767px) {
  .secrow {
    padding: 0;
    min-height: 0;
    height: auto !important;
    height: 0;
    height: auto !important;
  }

  #logo {
    height: auto;
  }
  #logo figure {
    width: 60%;
    position: relative;
    top: 0;
  }

  #intro {
    min-height: 260px;
    height: auto !important;
    height: 260px;
  }
  #intro .caption {
    right: 80px;
    top: 40px;
  }
  #intro .caption h3 {
    font-size: 22px;
  }
  #intro .caption .btn-green {
    font-size: 12px;
    padding: 10px 10px 8px 10px;
  }

  .bannerBtm a {
    top: 28%;
  }

  .title_blog {
    font-size: 26px;
  }

  .title_md {
    font-size: 20px;
  }

  .thumbabout blockquote {
    margin-top: 5%;
  }

  .archiveitem {
    width: 80%;
    margin: 0 auto 25px auto;
  }
  .archiveitem figure {
    height: 250px;
  }
  .archiveitem .caption {
    bottom: -205px;
  }
  .archiveitem .caption p strong {
    font-size: 18px;
    padding: 9px 15px;
  }

  .title_big {
    font-size: 30px;
  }

  .headline {
    font-size: 20px;
  }

  .postdetail strong {
    font-size: 20px;
  }

  #leftside {
    margin-bottom: 30px;
  }

  #concert-date hgroup h1 {
    font-size: 45px;
  }

  .concertName strong {
    font-size: 20px;
  }

  .mainNav.sm li {
    width: auto;
  }

  .asidemail {
    margin-bottom: 30px;
  }

  .placelist .inner {
    width: 85%;
    margin: 0 auto;
    min-height: 0;
    height: auto !important;
    height: 0;
    height: auto;
  }
  .placelist figure {
    height: auto;
  }
  .placelist figure img {
    height: auto;
  }

  .headlt {
    margin-bottom: 20px;
    padding-top: 30px;
  }
  .headlt .link_back {
    float: none;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .headlt .title_bigleft {
    float: none;
    margin-bottom: 0px;
  }

  .title_bigleft {
    font-size: 33px;
  }

  /* ======== NAVIGATION ======== */
  .nav-toggle {
    display: block;
    margin: 18px 0;
  }

  .navigation {
    margin-top: 25px;
  }

  .navigation ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
  }
  .navigation ul li {
    float: none;
    display: block;
    overflow: hidden;
  }
  .navigation ul a {
    float: none;
    display: block;
    border-bottom: 1px solid #777777;
    font-size: 14px;
  }

  .navigation li {
    width: 100%;
    display: block;
  }

  .js .navigation {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }

  .navigation.opened {
    max-height: 100%;
    margin-bottom: 6%;
  }

  .navigation.disable-pointer-events {
    pointer-events: none !important;
  }

  .navigation ul ul {
    opacity: 1;
    visibility: visible;
    position: static;
    margin: 0;
    background: none;
  }
  .navigation ul ul li:first-child {
    padding-left: 0;
  }

  .navigation ul ul a {
    color: #777777;
    border: 1px solid transparent;
    width: auto;
    display: block;
    padding: 7px 10px;
  }

  .navigation ul ul li {
    margin-left: 20px;
  }

  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  /*additional nav*/
  .navigation ul li:hover > a, .navigation ul li.active > a {
    border: 1px solid transparent;
    background: #3d454e;
    color: #c3be88;
  }

  #intabout {
    min-height: 300px;
    height: auto !important;
    height: 300px;
  }

  .captionleft {
    top: 50px;
    width: 65%;
    left: 25px;
  }
  .captionleft h3 {
    font-size: 2em;
  }

  .mainNav ul li {
    width: 100%;
    margin-bottom: 7px;
  }

  #sidebar {
    padding-bottom: 18px;
    margin-bottom: 35px;
    background: #FAFAFA;
    padding-top: 18px;
  }

  .blogitem {
    width: 80%;
    margin: 0 auto 30px auto;
  }
  .blogitem figure {
    height: auto;
  }
  .blogitem .inner {
    min-height: 0;
    height: auto !important;
    height: 0;
    height: auto;
  }

  .shufflenav li {
    display: block;
    float: none;
    margin-bottom: 8px;
  }
  .shufflenav li a {
    display: block;
  }

  .concertitem {
    width: 85%;
    margin: 0 auto 30px auto;
  }
  .concertitem .imgFill {
    height: 240px;
  }

  .address p {
    margin-bottom: 18px;
  }

  #map iframe {
    height: 250px;
  }

  #footer .subscribe .form-control.st, #footer .subscribe .form-control.sd {
    width: 100%;
    float: none;
  }
}
@media (max-width: 570px) {
  #logo figure {
    width: 70%;
  }

  .thumbabout blockquote {
    margin-top: 0;
    font-size: 0.9em;
    margin-bottom: 0;
  }

  .ft-blog ul li figure {
    margin-right: 15px;
    text-align: center;
    margin-bottom: 15px;
    float: none;
  }

  .mainNav.sm li {
    width: 100%;
    float: none;
    display: block;
  }
}
@media (max-width: 480px) {
  #logo figure {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .captionleft {
    width: 70%;
  }
  .captionleft h3 {
    font-size: 1.8em;
  }

  .blogitem {
    width: 100%;
  }

  .bannerBtm {
    background: white;
  }
  .bannerBtm img {
    display: none;
  }
  .bannerBtm a {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 330px) {
  .sidesplash h4 {
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .sidesplash ul a {
    font-size: 12px;
  }

  .captionleft {
    width: 75%;
  }
  .captionleft h3 {
    font-size: 1.4em;
  }
  .captionleft span {
    font-size: 0.9em;
  }

  .modal-dialog .btn-blue {
    font-size: 0.8em;
  }

  .archiveitem {
    width: 100%;
  }
  .archiveitem .caption p strong {
    font-size: 1em;
    padding: 9px 15px;
  }
  .archiveitem .caption p span {
    padding: 8px;
    font-size: 0.8em;
  }

  .thumbabout figure {
    width: 100%;
    text-align: center;
  }

  .concertitem {
    width: 100%;
    margin: 0 auto 30px auto;
  }
  .concertitem .imgFill {
    height: 240px;
  }

  #concert-date hgroup h1 {
    font-size: 33px;
  }
  #concert-date hgroup p {
    font-size: 1em;
  }

  #map iframe {
    height: 200px;
  }

  .placelist .inner {
    width: 100%;
    margin: 0 auto;
  }
  .placelist .olayblack {
    display: none;
  }

  .relatedplace article figure {
    float: none;
    margin-bottom: 12px;
    text-align: center;
    width: 100%;
    height: auto;
  }
}
