/*==========================================================================
  ABOUT
========================================================================== */
.aboutnav{
	h2{
		font-size: 1em;
		font-weight: 600;
		color: #1f1f1f;
		margin: 0;
		text-transform: uppercase;
		margin-bottom: 10px;

	}

	ul{
		li{
			display:block;
			@include prefixed(transition, color 0.3s linear);
			a{
				display:block;
				color:#1f1f1f;
				padding:7px 0;
				padding-right:18px;
				border-bottom:1px solid #cccccc;
			}
			&:hover a, &.active a{
				color:#267ec1;
				text-decoration:none;
				background:url("../img/arr_bue.png") right center no-repeat;
			}
		}
	}
}

.thumbabout{
	overflow:hidden;
	margin: 26px 0;
	figure{
		float:left;
		width:57%;
		max-width:550px;
		margin-right:25px;
	}
	blockquote{
		overflow: hidden;
		border-left: 0;
		padding-left: 0;
		font-style: italic;
		margin-top:11%;
	}
}

.aboutquote{
	position:relative;
	text-align:center;
	padding: 18px 20px;
	margin: 30px 0 20px 0;
	background:url("../img/line_aboutop.png") center top no-repeat;

	&:after{
		content:"";
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:5px;
		background:url("../img/line_aboutbtm.png") center top no-repeat;
	}
	strong{
		display:block;
		font-style:italic;
		margin-bottom:10px;
	}
	span{
		font-weight:600;
	}
}