/** ADDITIONAL STYLE - ANNIVERSARY
===================================*/

/*====== WP RESETTER ALIGNMENT ======*/
.alignleft,img.alignleft { display: inline; float: left; margin-right: 1.5em; margin-bottom: 0.8em; }
.alignright,img.alignright { display: inline; float: right; margin-left: 1.5em; margin-bottom: 0.8em; }
.aligncenter,img.aligncenter { clear: both; display: block; margin-left: auto !important; margin-right: auto !important; }

.intro-anvy{
	position: relative;
	figure{
		text-align: center;
	}

	.caption{
		background-color: rgba(#ffffff, 0.5);
		position: relative;
		z-index: 2;
		padding: 20px 0 0;
		overflow: hidden;


		h2{
			margin: 0;
			font-size: 35px;
			font-weight: 600;
			color: black;
			margin-bottom: 20px;
			position: relative;
			z-index: 1;
			&:before{
				content: '';
			    position: absolute;
			    width: 150%;
				height: 140px;
				bottom: -45px;
			    left: -39px;
			    z-index: -1;
				-webkit-box-shadow: inset 0px -159px 97px -51px rgba(255,255,255,1);
				-moz-box-shadow: inset 0px -159px 97px -51px rgba(255,255,255,1);
				box-shadow: inset 0px -159px 97px -51px rgba(255,255,255,1);
			}
		}

		.desc{
			 position: relative;
			 z-index: 3;
		}
	}

	@media screen and (min-width: 48em){
		 .caption{
		 		max-width: 93%;
				margin-top: -64px;
				padding: 20px 38px;
		 }
	}
}

.left-space{
	position: relative;
	@media screen and (min-width: 48em){
		padding-left: 40px;
	}
}
.post-letter{
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 58px;
	overflow: hidden;
	/*@include transition (all 0.8s);*/
	&.show{
		height: 100% !important;
		.post-letter-line{
			&:after{
				@include opacity(0);
			}
		}
	}
}
.post-letter-line{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	text-align: center;
	z-index: 2;
	&:before{
		content:'';
		position: absolute;
		left: 0;
		top: 45%;
		z-index: -1;
		height: 1px;
		width: 100%;
		background-color: #e5e5e5;
	}
	&:after{
		content:'';
		position: absolute;
			z-index: -2;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100px;
		-webkit-box-shadow: inset 0px -159px 97px -51px rgba(255,255,255,1);
		-moz-box-shadow: inset 0px -159px 97px -51px rgba(255,255,255,1);
		box-shadow: inset 0px -159px 97px -51px rgba(255,255,255,1);
		@include transition (all 0.3s ease);
	}
	.btn-expand{
		@include inline-block();
		background-color: white;
		border: 1px solid #e5e5e5;
		padding: 7px 10px 5px;
		text-align: center;
		color: black;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 600;
		line-height: 1em;
		letter-spacing: 0.08em;
		@include transition(all 0.3s linear);
		cursor: pointer;
		&:hover{
			background-color: #3d454e;
			color: white;
		}
	}
}

.title-sm{
	color: black;
	font: 24px "warnock-pro", sans-serif;
	font-weight: 600;
	margin: 0;
	margin-bottom: 20px;
	line-height: 1.4em;
}
.title-md{
	color: black;
	font: 30px "warnock-pro", sans-serif;
	font-weight: 500;
	margin: 0;
	margin-bottom: 17px;
	line-height: 1.2em;
}

.thumbMore-article{
	ul{
		  /* non-flexbox browsers */
		display: inline-flex;
		display: webkit-inline-flex;
		justify-content : space-between;
		-webkit-justify-content : space-between;
		align-items : flex-start;
		-webkit-align-items : flex-start;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;

		li{
			display: inline-block;
			vertical-align: middle;
			-webkit-flex: 1 30%;
			flex: 1 30%;
			padding: 5px;
			margin: 10px;
			box-shadow: 0 0 3px #e4e4e4;
			-moz-box-shadow: 0 0 3px #e4e4e4;
			-webkit-box-shadow: 0 0 3px #e4e4e4;
			text-align: center;
			@include transition(all 0.3s linear);
			&:hover{
				background-color: #f6f5f0;
			}

			figure{
				display: inline-block;
				position: relative;
				overflow: hidden;
				vertical-align: middle;
			}

			figcaption{
				position: absolute;
				padding: 8px 10px;
				color: white;
				font-size: 0.9em;
				background-color: rgba(#000000, 0.6);
				left: 0;
				bottom: -100%;
				z-index: 3;
				width: 100%;
				@include transition(all 0.3s linear);
			}

			&:hover{
				figcaption{
					bottom: 0;
				}
			}
		}
	}
}

.thumbsWrap{
	@media screen and (max-width: 37em){
		text-align: center;
	}
}
.concertitem{
	&.thumbs-item{
		float: none !important;
		@include inline-block();
		vertical-align: top;

		.inner{
			@include min-height(0);
			padding-bottom: 10px;
		}

		.imgFill{
			margin-bottom: 10px;
		}

		@media screen and (min-width: 38em){
			width: 49%;
		}

		@media screen and (min-width: 62em){
			width: 32.5%;
		}
	
	}
}

/*====== THE CODE BELOW WAS IN LIVE ======*/
@media screen and (min-width: 48em){
	#rightside{
		padding-left: 25px;
	}
}


.space30{
	margin-bottom: 40px;
	width: 100%;
}

.flex{
	display: inline-block;
	display: inline-flex;
	display: webkit-inline-flex;
	justify-content : space-between;
	-webkit-justify-content : space-between;
	align-items : flex-start;
	-webkit-align-items : flex-start;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	width: 100%;
}

/** RECOLLECTION
===================================*/
.collect-item{
	width: 100%;
	margin: 10px;

	@media screen and (min-width: 32em){
		flex: 1 29%;
		-webkit-flex: 1 29%;
		width: auto;
		margin: 10px 15px;
	}

	.inside{
		border: 1px solid #cccccc;
		padding: 5px;
		background-color: white;
		overflow: hidden;
	}

	header{
		background-color: #f4f4f4;
		align-items: center;
		-webkit-align-items: center;
		padding: 12px;
		text-align: center;
		margin-bottom: 5px;	

		h3{
			margin: 0;
			font: 22px "warnock-pro", sans-serif;
			font-weight: 400;
			line-height: 1.4em;
		}
	}

	.desc{
		border-top: 1px solid #cccccc;
		padding: 23px 12px;
		font-size: 16px;
		text-align: center;
		margin-left: -5px;
		margin-right: -5px;
	}
}

.collect-list{
	li{
		display: block;
		margin-bottom: 5px;
		font-size: 0.9em;
	}
}


.thumbig-capright{
	background-color: #e8ebec;
	overflow: hidden;
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
	@media screen and (min-width: 48em){
		display: inline-flex;
		display: webkit-inline-flex;
		align-items : center;
		-webkit-align-items : center;
		flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
		text-align: left;
	}

	figure{
		@media screen and (min-width: 48em){
			float: left;
		}
		
	}

	.desc-caption{
		overflow: hidden;
		padding: 25px 20px;
		@media screen and (min-width: 48em){
			padding: 25px 40px;
		}

		h2{
			margin: 0;
			font: 35px "warnock-pro", sans-serif;
			font-weight: 400;
			line-height: 1.2em;	
			@media screen and (min-width: 50em){
				font-size: 48px;
				line-height: 1;
			}
		}
		span{
			font-size: 30px;
			font-style: italic;
		}
	}
}

.link_backWrap{
	margin-bottom: 40px;
	text-align: right;
	@media screen and (min-width: 48em){
		text-align: left;
	}
}