/*==========================================================================
  ARCHIVES
========================================================================== */

.archiveitem{
	margin-bottom:30px;
	.inner{
		background:white;
		border:1px solid #eeeeee;
		padding:10px;
	}

	.caption{
		position:absolute;
		left:0;
		bottom:-256px;
		width:100%;
		height:100%;
		background:#3d454e;
		background:rgba(61, 69, 78, 0.8);
		color:white;
		/* Slide Transition */
		@include prefixed(transition, bottom 0.4s);
	}

	figure{
		position:relative;
		overflow:hidden;
		height:300px;
		border:1px solid #d9d9d9;

		a{
			text-decoration:none;
		}
	}
	.imgFill{
		@include size(100%, 300px);
		overflow:hidden;
	}
	&:hover{
		.caption{
			bottom:0;	
		}
	}

	.caption{
		p{	
			margin-bottom:0;
			strong{
				display: block;
				background:#000000\9;
				background:rgba(0, 0, 0, 0.7);
				color: white;
				padding: 5px 15px;
				font-size: 24px;
				margin-bottom: 10px;
				font-weight:600;
				@include prefixed(transition, all 0.2s ease-out);

			}

			span{
				display:block;
				padding:20px;
				color:white;
			}
		}

		&:hover{
			strong{
				color: black;
				background:white;
			}
		}
	}
}