/*==========================================================================
  BLOG
========================================================================== */
.blogitem{
	margin-bottom:30px;
	.inner{
		border:1px solid #cccccc;
		padding:7px;
		@include prefixed(transition, opacity 0.3s ease-in);
		@include min-height(530px);

		&:hover{
			@include opacity(0.6);
		}
		
		a{
			text-decoration:none;
			color:black;
		}
	}

	figure{
		@include size(100%, 215px);
		margin-bottom:15px;
		text-align:center;
		overflow:hidden;
	}

	.caption{
		text-align:center;
		p{
			margin-bottom:40px;
		}
		strong{
			font-weight:600;
			color:black;
			display:block;
			font-size:25px;
			line-height:1.2em;
			margin-bottom: 12px;
			padding: 0 20px;
		}
		footer{
			font-style:italic;
			padding-bottom:10px;
			hr{
				margin-left: -7px;
				margin-right: -7px;
				margin-bottom:13px;
			}
		}
	}
}

.entryhead{
	text-align:center;
	margin-bottom:6%;

	.datetime{
		text-transform:uppercase;
		font-size:19px;
	}
}

.postdetail{
	.fit{
		width:72%;
		margin:0 auto;
	}
	strong{
		font-weight:700;
		font-size:23px;
		color:#1f1f1f;
		line-height: 1.3em;
		font-style: italic;
	}
}
.blogquote{
	width:90%;
	margin:35px auto;
	overflow:hidden;
	figure{
		float:left;
		width:100%;
		max-width:570px;
		margin-right:25px;
		overflow:hidden;
		text-align:center;
	}
	blockquote{
		overflow:hidden;
		font-style:italic;
		margin-top: 8%;
	}
}

.fullimage{
	margin-bottom:-2px;
	position: relative;
	z-index: 3;
}

.sharebar{
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding:15px 0 13px 0;
	margin: 10% -25px 35px -25px;
	text-align:center;

	li{
		@include inline-block();
		text-transform:uppercase;
		color:#1f1f1f;
		margin-right:8px;
		&.text{
			margin-right:30px;
			font-size:0.9em;
		}
		a{
			color:#cccccc;
			font-size:1.8em;
			@include prefixed(transition, color 0.2s ease-out);
			line-height:1em;
			&:hover{
				color:#598527;
				text-decoration:none;
			}
		}
	}
}

.item-nextpost{
	@include prefixed(transition, opacity 0.3s linear);
	&:hover{
		@include opacity(0.5);
	}

	a{
		text-decoration:none;
		color:#1f1f1f;
		&:hover{
			text-decoration:none;
		}
	}
	figure{
		@include size(145px, 125px);
		overflow:hidden;
		text-align:center;
		float:left;
		margin-right:15px;
	}

	.desc{
		overflow:hidden;
		line-height:1.2em;
		
		strong{
			font-size:19px;
			color:#1f1f1f;
			font-weight:600;
			display:block;
			lin-height:1.1em;
			border-bottom:1px solid #cccccc;
			margin-bottom:10px;
			padding-bottom:10px;
		}
		span{
			font-style:italic;
			font-size:0.9em;
		}
	}
}

.title_story{
	font-size:15px;
	color:black;
	text-transform:uppercase;
	margin-bottom:18px;
	font-weight:700;
}

.bannerBtm{
	@include min-height(142px);
	width:100%;
	text-align:center;
	position:relative;
	overflow:hidden;
	margin-top:-7px;
	border-right:2px solid #ecebdc;
	border-left:2px solid #ecebdc;
	border-bottom:2px solid #ecebdc;
	a{
		position:absolute;
		top:38%;
		left:50%;
		margin:0 auto;
		margin-left:-100px;
	}
}