/*==========================================================================
  CHECKBOX
========================================================================== */

.checkbox label{
  display:block;
}
.custom-label {
  display: inline-block;
  margin-right: .8em;
  cursor: pointer;
  font-size:14px;

.tx{
      margin-left:23px;
      padding-top:3px;
    }
}
.custom-radio,
.custom-check {
    float:left;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    //top: -.15em; /* Adjust to for best fit */
    top:4px;
    margin: 0 .4em;
    margin-right:0.5em;
    margin-left:0;
    @include size(14px, 14px);
     
}
.custom-check {
    background: url("../img/check.png") top left no-repeat;
}
.custom-radio{
   background: url("../img/radio.png") top left no-repeat;
}

.radio, .checkbox{
  padding-left:0;
}
.radio label, .checkbox label{
  padding-left:0;
  font-size:16px;
}

.custom-check.focus, .custom-radio.focus { background-position: top left; }
.custom-check.checked, .custom-radio.checked { background-position: bottom left; }
.custom-check.checked.focus, .custom-radio.checked.focus { background-position: bottom left; }