.seven_clean{ border:solid 7px #000;border-radius:5px;}
.seven_clean .seven_bt_preview { top:35px;}
.seven_clean .seven_bullet_control{ right:0px !important;bottom:0;z-index:80;width:auto;}
.seven_clean .seven_bullet_control #seven_bullet_viewport{ margin-top:0px;}
.seven_clean .seven_bullet_control #seven_bullet_inner_viewport{ padding:10px;display:inline-block;}
.seven_clean #left_btn{ width:30px;height:56px;background-image:url(../img/skin/clean.png);left:0px;}
.seven_clean #right_btn{width:30px;height:56px;background-image:url(../img/skin/clean.png);right:0px;}
.seven_clean .seven_hcarousel.seven_bullet{ margin-top:20px !important;}
.seven_clean .seven_hcarousel #seven_hviewport .carousel.active{background-position:0% 0%;}
.seven_clean .seven_hcarousel #seven_hviewport .carousel:hover{background-position:0% 0%;}
.seven_clean .seven_hcarousel #seven_hviewport .carousel{border:solid 2px #000;}
.seven_clean .seven_circle{width:23px;height:23px;background-image:url(../img/skin/c_clean.png); }
.seven_clean .seven_nav{top:50%;margin-top:-18px;}
.seven_clean .seven_a_play{width:23px;height:23px;background-image:url(../img/skin/p_clean.png);background-position:100% 0%;z-index:80;}
.seven_clean .seven_a_pause{background-position:0% 0%;}
.seven_clean .seven_load{width:48px;height:48px;margin-left:-24px;margin-top:-24px;}
.seven_clean .seven_caption{position:absolute; font-family:lucida;font-size:20px;filter: alpha(opacity=40);background-color:#000;background-color:rgba(0,0,0,0.6);left:0;	bottom: 0px; color: #fff; width:50%;}
.seven_clean .seven_caption div{margin:10px 18px;}
.seven_clean .seven_des{font-size:11px;opacity:.75;filter: alpha(opacity=70);-moz-opacity:.75;-khtml-opacity:.75;}
/* clean Skin Lightbox*/
.seven_clean #seven_sublightbox{position:absolute; background-color:#000; border: 0px; box-shadow: 4px 4px 4px #000000; z-index:200; left:50%; top:50%; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */	-moz-box-sizing: border-box;    /* Firefox, other Gecko */box-sizing: border-box;         /* Opera/IE 8+ */}
.seven_clean .seven_lcontrol{background:url(../img/skin/l_default.png);position:absolute;width:24px;height:37px;z-index:50;cursor:pointer;}
.seven_clean #seven_lightbox_control_prev{left:10px;top:50%;margin-top:-18px;}
.seven_clean #seven_lightbox_control_next{right:10px;top:50%;margin-top:-18px;background-position:100% 0%;}
.seven_clean #seven_lightbox_control_close{background:url(../img/skin/default_close.png);position:absolute;width:17px;height:17px;z-index:50;right:0;margin:10px;cursor:pointer;}
.seven_clean #seven_thumb_clean .seven_thumb{float:left;width:54px;height:59px;background:url(../img/skin/t_default.png);background-position:100% 0;overflow:hidden;}
.seven_clean #seven_thumb_clean .seven_thumb:hover,.seven_clean #seven_thumb_clean .seven_thumb.active{background-position:0;}
.seven_clean #seven_thumb_clean .seven_thumb .seven_subthumb{position:absolute;overflow:hidden;margin:12px 7px;width:40px;height:40px;}
.seven_clean #seven_thumb_clean .seven_thumb.active .seven_subthumb,.seven_clean #seven_thumb_clean .seven_thumb:hover .seven_subthumb{margin:9px 7px;}
.seven_clean #seven_thumb_clean .seven_thumb img{width:100px;}
@font-face { font-family: lucida; src: url('../font/Lucida Grande.ttf'); } 


