/*==========================================================================
  CONTACT
========================================================================== */
#map{
	margin-bottom:30px;
	iframe{
		@include size(100%, 350px);
	}
}

.address{
	header{
		margin-bottom:30px;
		line-height:1.8em;
		strong{
			display:block;
			color:#1f1f1f;
			font-size:30px;
		}
		em{font-size:20px}
	}

	.phone, .place, .mail{
		position:relative;
		padding-left:40px;

		&:before{
			position:absolute;
			top:0;
			left:10px;
			width:32px;
			display: inline-block;
			font-family: FontAwesome;
			font-size:20px;
			color:#1f1f1f;
		}
	}
	.phone{
		&:before{content:"\f098";}
	}
	.place{
		&:before{content:"\f041";}
	}
	.mail{
		&:before{content:"\f0e0";}

	}
}