/*==========================================================================
  CONCERTS
========================================================================== */

.concertitem{
	margin-bottom:35px;
	.inner{
		background:#f4f4f4;
		overflow:hidden;
		border:5px solid white;
		padding-bottom:18px;
		@include min-height(265px);
		@include box-shadow(0 0 0 1px #cccccc);
		@include prefixed(transition, opacity 0.3s ease-in);

		&:hover{
			@include opacity(0.8);
		}
	}
	a{
		text-decoration:none;
		color:#1f1f1f;
	}

	.imgFill{
		@include size(100%, 174px);
		margin-bottom:17px;
	}
	.desc{
		text-align:center;
		padding:0  15px;
		span{
			display:block;
			font-size:0.8em;
		}
		strong{
			display:block;
			font-size:1.1em;
		}
	}
}

#concert-date{
	margin-bottom:45px;
	margin-top: 135px;
	hgroup{
		position:relative;
		color:white;
		z-index:1;
		padding:20px 0;
		&:after{
			content:"";
			position:absolute;
			z-index:-1;
			left: -64%;
			top:0;
			width:100%;
			height:100%;
			background:#000000\9;
			background:rgba(0, 0, 0, 0.5);

		}
		h1{
			color:white;
			@include text-shadow(4px 4px 8px rgba(0,0,0,.79));
			font:400 60px "warnock-pro", sans-serif;
			line-height: 1.2em;
			margin:0;
		}
		p{
			font-style:italic;
			@include text-shadow(4px 4px 8px rgba(0,0,0,.79));
			font-size:20px;
			margin-bottom:0;
		}
	}

	a.link_black{
		@include inline-block();
		color:white;
		padding: 5px 15px 5px 15px;
		background:black;
		text-decoration:none;
		font-style:italic;
		@include prefixed(transition, opacity 0.3s ease-in);
		font-size:20px;
		&:hover{
			@include opacity(0.8);
		}
	}
}

.concertName{
	overflow:hidden;
	margin-bottom:22px;
	strong{
		font-size:26px;
		font-weight:400;
		display:block;
		color:#1f1f1f;
	}
	em{
		display:block;
		color:#1f1f1f;
		margin-bottom:10px;
	}
}

.boxsong{
	border:1px solid #cccccc;
	position:relative;
	background:white;
	@include box-shadow( 10px 8px 0 -4px #e0e0e0);
	h2{
		text-align:center;
		font-size:30px;
		color:#1f1f1f;
		padding:15px 0;
		font-weight:600;
		border-bottom:1px solid #cccccc;
		margin:0;
		margin-bottom:15px;
	}
	.desc{
		padding:20px;
		padding-top:10px;

		strong{
			font-weight:400;
			color:#1f1f1f;
			font-size: 21px;
			display: block;
			margin-bottom: 4px;
		}
	}
}
