/*==========================================================================
  DONOR
========================================================================== */

.donor-form{
	.form-control{
		border:1px solid #a1a8b0;
		background: white;
	}

	.label_card{
		margin-bottom: 10px;
		@media(min-width: 568px){
			vertical-align: bottom;
		}
		
	}
}

.donor-form__inlineselect{
	.slect-flat{
		width: 100%;
		margin-bottom: 8px;
	}
	@media(min-width: 568px){
		@include inline-block();
		.slect-flat{
			@include inline-block();
			margin-right: 15px;
			width: 150px;
		}
	}
	
}

.donor-form__inlinelabel{
	@include inline-block();
	margin-right: 20px;
	@media(min-width: 568px){
			vertical-align: bottom;
		}
}

.donor-form__box{
	margin-bottom: 20px;
	li{
		@include inline-block();
		@include square(99px);
		background: #a1a8b0;
		@include box-shadow(0px 0px 0px 3px #a1a8b0);
		text-align: center;
		margin:10px 5px;
		border:1px solid #80826b;
		cursor: pointer;

		@include prefixed(transition, all .2s ease-in);

		span{
			display: block;
			color:#6f767f;
			font-size: 24px;
			line-height: 99px;
		}

		&.active, &:hover{
			@include box-shadow(0px 0px 0px 3px #3d454e);
			border:1px solid #c3be88;
			background: #3d454e;

			span{
				color: #c3be88;
			}			
		}
	}
}

.donor-form__box__val{
	background: #f6f5f0;
	border:1px solid #a1a8b0;
	padding: 8px 10px;
	@include inline-block();
	margin-bottom: 20px;

	label{
		@include inline-block();
		text-transform: uppercase;
		margin-right: 25px;
	}
	.form-control{
		@include inline-block();
		width: auto;
	}
}