/*==========================================================================
  EMAIL SIGNUP
========================================================================== */

.formSignup{
	hr{
		margin-top: 10px;
		margin-bottom: 16px;
	}
	.form-group{
			margin-bottom:0;
	}
}

.fbox{
	text-align:center;
}