/*==========================================================================
  EROOR 404
========================================================================== */

.error_content{
	width:88%;
	margin:0 auto;
	margin-top:100px;
	padding:30px;
	color:white;
	background:black;
	background:rgba(0, 0, 0, 0.6);
	h1{
		color:white;
		font-weight:normal;
		font: 700 4em/1 "warnock-pro", sans-serif;
		margin-bottom:40px;

		@media (max-width: 767px) {
		  	font-size:3em;
		 }
		 @media (max-width:330px) {
		  	font-size:2em;
		 }
	}
	p{
		font: italic 600 2em "warnock-pro", sans-serif;
		line-height:1.1em;
		@media (max-width: 330px) {
		  	font-size:1.6em;
		 }

		 @media (max-width: 330px){
		 	font-size:1em;
		 }
	}
}
#bg {
  position: fixed; 
  z-index:-1;
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  img {
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}
}