/*==========================================================================
  FOOTER
========================================================================== */
#footer{
	background:#3d454e;
	padding-top:50px;
	color:#ffffff;
	padding-bottom:15px;

	.topfoot{
		border-bottom:1px solid #545b63;
		padding-bottom:40px;
		margin-bottom:20px;
	}

	.addresfoot{
		background:#2b3036;
		padding:15px;
		margin-top:10px;
		margin-bottom:28px;
	}

	.sharefoot{
		a{
			@include inline-block();
			@include size(53px, 55px);
			margin-right:4px;
			@include prefixed(transition, opacity 0.3s ease-in);
			&:hover{
				@include opacity(0.5);
			}

			&.fb{
				background:url("../img/icon_mdfb.png") 0 0 no-repeat;
				@include image-2x(url("../img/icon_mdfb@2x.png"), 53px, 55px);
			}
			&.play{
				background:url("../img/icon_mdplay.png") 0 0 no-repeat;
				@include image-2x(url("../img/icon_mdplay@2x.png"), 53px, 55px);
			}
			&.tw{
				background:url("../img/icon_mdrss.png") 0 0 no-repeat;
				@include image-2x(url("../img/icon_mdrss@2x.png"), 53px, 55px);
			}
		}
	}

	.subscribe{
		.form-group{
			width: 70%;	
			float:left;
			margin-right:9px;
		}
		.form-control{
			@include border-radius(0);
			color:black;
			height: 45px;
			font-size:1em;
			line-height:1.9em;
			margin-bottom:6px;
			@include box-shadow(none);
			&.st{
				margin-right:7px;
			}
			&.st, &.sd{
				width: 49%;
				float:left;
			}
		}

		.btn-green{
			max-width: 150px;
			padding-top: 26px;
			padding-bottom: 25px;
			float: left;
			margin-top: 3px;
		}
	}
}

.ft-blog{
	ul li{
		display:block;
		margin-bottom:15px;
		overflow:hidden;
		@include prefixed(transition, opacity 0.3s ease-in);
		&:hover{
			@include opacity(0.5);
		}

		figure{
			float:left;
			width:114px;
			overflow:hidden;
			margin-right:15px;
		}

		p{
			overflow:hidden;
			line-height:1.2em;
			strong{
				margin-bottom:10px;
				font-weight:400;
				display:block;

			}

			a{
				font-size:11px;
				text-transform:uppercase;
				color:white;
				letter-spacing: 0.2em;
				&:hover{
					color:#c3be88;
				}
			}
		}
	}
}

.ft-wdg {
	overflow:hidden;
}
.copyright{
	text-align:center;
	font-size:13px;
	color:#999da1;
	a{
		color:#999da1;
		&:hover{
			color:#c3be88;
		}
	}
}