/*==========================================================================
  HEADER
========================================================================== */
#header{
	background:white;
	@include box-shadow(0 0 3px rgba(0,0,0,.2));
	position:relative;
	z-index:50;
	&.marginBtm{
		margin-bottom:50px;
	}
}
#logo{
	position:relative;
	figure{
		position:absolute;
		width:100%;
		max-width:381px;
		text-align:center;
		top:-53px;
		left:0;
	}
}
#toprow{
	background:#3d454e;
	padding:8px 0;

	ul{
		float:right;
		font-size:11px;
		text-transform:uppercase;
		li{
			@include inline-block;
			border-right:1px solid #757a7d;
			padding:3px 6px;
			text-align:center;
			a{
				color:white;
				@include opacity(1);

				&:hover{
					@include opacity(0.6);
				}
			}
		}

		li.sharetop{
			boreder:none;
			a{
				@include inline-block();
				@include size(22px, 21px);
				@include prefixed(transition, all 0.3s linear);
			}
			a.fb{
				background: url("../img/icon_smfb.png") top  center no-repeat;
				@include image-2x(url("../img/icon_smfb@2x.png"), 22px, 21px);
				}

			a.play{
				background: url("../img/icon_smplay.png") top  center no-repeat;
				@include image-2x(url("../img/icon_smplay@2x.png"), 22px, 21px);
				}
	
			a.rss{
				background: url("../img/icon_smrss.png") top  center no-repeat;
				@include image-2x(url("../img/icon_smrss@2x.png"), 22px, 21px);
				}
		}
	}	
}
.secrow{
	@include min-height(66px);
	padding:10px 0;
}