/*==========================================================================
  HOMEPAGE
========================================================================== */
.headline{
	font-size:29px;
	font-style:italic;
	text-align:center;
	width:90%;
	margin:0 auto;
	margin-bottom:53px;
	line-height:1.3em;

	&.line{
		background:url("../img/long-line.png") bottom center no-repeat;
		padding-bottom:38px;
	}
}

#galleries{
	background:url("../img/ornament.png") top center no-repeat;
	position:relative;
	padding-top:50px;
	margin-bottom:20px;
	&:before{
		content:"";
		position:absolute;
		top: 15px;
		left:0;
		width:100%;
		z-index:-1;
		border-top:1px solid #c7c5af
	}

	ul{
		text-align:center;
		list-style:none;
		li{
			@include inline-block();
			@include size(78px, 78px);
			overflow:hidden;
			margin:0 6px;
			margin-bottom:12px;
			@include prefixed(transition, opacity 0.3s ease-out);

			&:hover{
				@include opacity(0.5);
			}
		}
	}

}

.sidesplash{
	background: url("../img/thumbs/thumb1.jpg") center top no-repeat;
	background-size:cover;
	width:335px\9;
	max-width:335px;
	@include min-height(434px);
	overflow:hidden;
	margin:0 auto;
	position:relative;
	
	h4{
		background:#000000\9;
		background:rgba(0,0,0, 0.5);
		color:white;
		font: italic 700 30px "warnock-pro", sans-serif;
		padding-left:15px;
		padding-right:15px;
		margin-top:30px;

	}

	ul{
		position:absolute;
		bottom:30px;
		left:0;
		width:100%;

		li{
			display:block;
			background:white;
			text-align:center;
			padding:8px;
			width: 73%;
			margin: 0 auto;
			margin-bottom:10px;
			@include prefixed(transition, opacity 0.3s ease-in);
			&:hover{
				@include opacity(0.5);
			}
		}

		a{
			display:block;
			color:black;
			font-size:18px;
			font-weight:600;
			border:1px solid #d1d1d1;
			text-align:center;
			padding: 6px 10px;

			&:hover{
				text-decoration:none;
			}
		}

		.icons{
			@include inline-block();
			@include size(25px, 20px);
			margin-right:8px;

			&.one{
				background: url("../img/icon1.png") center top no-repeat;
				@include image-2x(url("../img/icon1@2x.png"), 25px, 18px);
			}

			&.two{
				background: url("../img/icon2.png") center top no-repeat;
				@include image-2x(url("../img/icon2@2x.png"), 18px, 20px);
			}

			&.three{
				background: url("../img/icon3.png") center top no-repeat;
				@include image-2x(url("../img/icon3@2x.png"), 19px, 19px);
			}

		}
	}
}

.slide-testi{
	position:relative;
	padding: 21px 0;
	width:365px;
	float:right;
	margin-bottom:25px;

	&:before, &:after{
		content:"";
		position:absolute;
		left:0;
		z-index:1;
		width:100%;
		height:4px;

	}
	&:before{
		background: url("../img/lineTop.png") center top no-repeat;
		top:0;
		bottom:auto;
	}
	&:after{
		background: url("../img/linebtm.png") center top no-repeat;
		bottom:0;
		top:auto;
	}

	.bx-wrapper{
		margin-bottom:0;
	}
	.bx-wrapper .bx-viewport{
		@include box-shadow(none);
		border:none;
	}

	.bx-wrapper .bx-pager{
		position:absolute;
		top:-28px;
		z-index:2;
		padding-top:0;
		height:20px;
	}
	.bx-wrapper .bx-pager.bx-default-pager a{
		@include size(16px, 16px);
		background : transparent url("../img/bullet.png") top left no-repeat;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
		background : transparent url("../img/bullet.png") bottom left no-repeat;
	}
	.item{
		text-align:center;
		overflow:hidden;
		width: 76%;
		margin: 0 auto;
		strong.text{
			display:block;
			margin-bottom:15px;
			font-size:19px;
			font-style:italic;
			font-weght:700;
		}
		span{
			font-style:italic;
		}
		strong{
			display:block;
			font-weght:700;
		}
	}
}

.boxwhite.lined{
	position:relative;
	&:before{
		content:"";
		position:absolute;
		top:0;
		right:34%;
		width:1px;
		height:100%;
		border-left:1px solid #dbd8c3;
	}
}
