/*==========================================================================
  INTRO
========================================================================== */
#intro{	
	@include min-height(456px);
	overflow:hidden;
	position:relative;
	margin-bottom:35px;

	&.intabout{
		@include min-height(508px);
	}
	.seven_container{
		margin-top:0;
	}
	.seven_container #seven_viewport{
		cursor:default;
	}
	.seven_nav{
		display:none;
		background:none;
	}
	.seven_hcarousel{
		display:none;
	}
	.container{
		position:relative;
	}
	.caption{
		position:absolute;
		right:130px;
		top:170px;
		text-align:right;
		z-index:999;
		width:53%;
		h3{
			text-shadow: 1px 1px 7px rgba(0,0,0,.39);
			font-size:43px;
			color:white;
			line-height:1.1em;
			margin-bottom:25px;
		}

		a{
			@include inline-block();
		}
	}
}

.fullside{
	figure{
		text-align:center;
	}
	
}

.btn-scroll{
	position:absolute;
	z-index:100;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;

	a{
		@include inline-block();
		@include size(67px, 31px);
		background : url("../img/arr_smoth.png") 0 0 no-repeat;
		@include image-2x(url("../img/arr_smoth@2x.png"), 67px, 32px);

	}
}



#intabout{
	@include min-height(530px);
	overflow:hidden;
	position:relative;
	margin-bottom:35px;

	.container{
		position:relative;
	}
	figure{
		@include size(100%, 530px);
		position:absolute;
		top: 0;
		left: 0;
		z-index:-1
	}

}
.captionleft{
		position:absolute;
		left:0;
		top:160px;
		width:53%;

		h3{
			text-shadow: 1px 1px 7px rgba(0,0,0,.39);
			font-size:58px;
			color:white;
			line-height:1.1em;
		}

		span{
			display:block;
			font-size:20px;
			color:white;
		}
}