/*==========================================================================
  PLAN YOUR VISIT PAGE
========================================================================== */

.placelist{
	margin-bottom:35px;

	&:hover{
		a{
			color:#0072bc;
		} 
		.inner{
			background:white;
		}
		.olayblack{
			bottom:0;
		}
	}

	.imgFill{
		@include size(100%, 236px);
	}
	a{
		text-decoration:none;
		color:black;
		@include prefixed(transition, all 0.3s ease-in);
	}

	figure{
		text-align:center;
		background:#f4f4f4;
		position:relative;
		height:217px;
		overflow:hidden;
		img{
			height:217px;
			width:auto;
		}
	}

	.inner{
		background:white;
		padding:5px;
		border:1px solid #cccccc;
		background:#f4f4f4;
		position:relative;
		@include min-height(375px);

		&:before{
			content:"";
			position:absolute;
			left:0;
			top:0;
			border:5px solid white;
			background:transparent;
			width:100%;
			height:100%;
			z-index:0;

		}
	}

	.desc{
		background:transparent;
		position:relative;
		z-index:1;
		text-align:center;
		padding:20px 20px 8px 20px;
		.star{
			font-size:14px;
			text-transform:uppercase;
			display:block;
		}

		strong{
			font-weight:400;
			font-size:19px;
		}

		footer{
			font-size:13px;
			text-align:left;
			overflow:hidden;
			margin-top:25px;
			padding-top:10px;
			border-top:1px solid #cccccc;
			p{
				float:left;
				margin-bottom:0;
			}
			.rt{
				float:right;
			}

			.fa{
				color:#c3c3c3;
			}
		}
	}
}

.olayblack{
	p.text{
		margin-bottom:0;
		text-align:left !important;
		font-size:0.9em;

		strong{
			font-weight:600;
			display:block;
			text-transform:uppercase;
			color:#9b9b9b;
		}
	}
}

.headlt{
	overflow:hidden;
	.title_bigleft{
		float:left;
		width:auto;
	}	
	.link_back{
		float:right;
	}
}

.slidevisit{
	margin:35px auto;
	.bx-wrapper{
		width:78%;
		 .bx-viewport{
			@include box-shadow(none);
			left:0;
		}
		.bx-controls-direction a{
			@include size(12px, 20px);
		}
		.bx-prev{
			background:url("../img/arrleft.png") 0 0 no-repeat;
			left:-25px;
			&:hover{
				background-position: 0 0;
			}
		}
		.bx-next{
			background:url("../img/arright.png")  0 0 no-repeat;
			right:-25px;
			&:hover{
				background-position: 0 0;
			}
		}
	}
}

.disclist{
	overflow:hidden;
	li{
		list-style:disc;
		float: left;
		margin-left: 20px;
		width: 38%;
	}
}

.relatedplace{
	overflow:hidden;
	padding-bottom:20px;
	article{
		.inner{
			background:#f4f4f4;
			border:5px solid white;
			@include box-shadow(0 0 0 1px #cccccc);
			@include prefixed(transition, opacity 0.3s ease-in);
			&:hover{
				@include opacity(0.6);
			}
		}
		a{
			color:black;
			&:hover{
				text-decoration:none;
			}
		}
		figure{
			@include size(145px, 125px);
			overflow:hidden;
			float:left;
			margin-right:8px;
		}
		.desc{
			overflow:hidden;
			line-height:1.2em;
			padding:10px 8px;
		}
		.star{
			text-transform:uppercase;
			display:block;
			font-size:0.9em;
			margin-bottom:3px;
		}
		strong{
			font-weight:600;
			color:black;
		}
		hr{
			margin:9px 0;
			border-top:1px solid #cccccc;
		}
		.foot{
			font-size:0.8em;
			.fa{
				color:#c3c3c3;
			}
		}
	}
}