/*==========================================================================
  PURCHASE TICKET
========================================================================== */
.seatChart{
	margin:50px 0;
}
.seatChart__txcenter{
	width: 100%;
	text-align: center;
	margin: 18px 0;
	
	a{
		color:#0072bc;
		font-size:15px;
		text-transform: uppercase;

		&:hover{
			color:#3d454e;
			text-decoration: none;
		}
	}
}

.seatChart__txcenter--bottom{
	@extend .seatChart__txcenter;
	border-top: 1px solid #dddddd;
	margin-top: 0;
	padding-top: 20px;
}

.seatChart__table{
	.seatChart__table__prodname{
		@include inline-block();
		h4{
				font-size: 22px;
				font-weight: 600;
				margin: 0;
				margin-bottom: 4px;
				color: #1f1f1f;
		}
	}

	.form-control{
		width: auto;
		@include border-radius(0);
		background:white;
		color: #d3d3d3;
	}

	.slect-gradient, .form-control{
		@include inline-block();
		vertical-align: top;
		margin-left: 4px;
	}

	&.table > thead > tr > th, &.table > thead > tr > td, &.table > tbody > tr > th, &.table > tbody > tr > td, 
	&.table > tfoot > tr > th, &.table > tfoot > tr > td{
		padding:14px 8px;
		vertical-align: top;
	}

	.seatChart__table__disbled{
		@include opacity(0.5);
	}

	.seatChart__table_label{
		width: 20px;
		@include min-height(70px);
		@include inline-block();
		margin-right:10px;
		color: white;
		font-size: 12px;
		text-transform: uppercase;
		background: #c8c47a;
		position: relative;
		background: url("../img/sold.png") 0 0 no-repeat;
		@include background-size(20px, 69px);
	}
}

.dgift{
	.dgift__prices{
		a{
			@include inline-block();
			padding: 7px 25px 4px;
			font-weight: 600;
			color: black;
			margin-right: 7px;
			text-align: center;
			@include background-image(linear-gradient(bottom, #d8d8d8, #ececec)); 
				border: solid 1px transparent;
				@include prefixed(transition, all .2s);
			&:hover{
				border: solid 1px #006fb8;
				text-decoration: none;
			}

			&.active{
				color:white;
				@include background-image(linear-gradient(bottom, #0068ac, #0072bb));
				text-decoration: none;

			}
		}		
	}
}