.sbHolder{
	background-color: #2d2d2d;
	border: solid 1px #515151;
	font: 400 1em "warnock-pro", sans-serif;
	font-weight: normal;
	height: 30px;
	position: relative;
	width: 200px;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 30px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 170px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #EBB52D;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url("../img/select-icons.png") 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.sbToggle:hover{
	background: url("../img/select-icons.png") 0 -167px no-repeat;
}
.sbToggleOpen{
	background: url("../img/select-icons.png") 0 -16px no-repeat;
}
.sbToggleOpen:hover{
	background: url("../img/select-icons.png") 0 -66px no-repeat;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: #212121;
	border: solid 1px #515151;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 200px;
	z-index: 1;
	overflow-y: auto;
}
.sbOptions li{
	padding: 0 7px;
}
.sbOptions a{
	border-bottom: dotted 1px #515151;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #ddd;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #EBB52D;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}

/* ======== COSTUM ======== */
.selectwrap{
	.sbHolder{
		width:auto;
		background-color: #ffffff;
		border: solid 1px #e9e9e9;
		@include background-image(linear-gradient(bottom, rgba(0,0,0,.08), rgba(0,0,0,0)));
	}
	.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
		color:black;
	}
	.sbOptions{
		width:100%;
		background:white;
		
	}

	.sbOptions a:link, .sbOptions a:visited{
		color:#1f1f1f;
	}
	.sbOptions a:hover{
		color:#033f66
	}

	.sbToggle{
		background: url("../img/ddown.png") center center no-repeat;
	}
}

.selectgrey{
	.sbHolder{	
			width:auto;
			background-color: #e9ecee;
			border:none;
			@include border-radius(4px);
			height:38px;
	}
	.sbOptions{
		width:100%;
		background:white;
		
	}
	.sbSelector{
			width:100%;
			line-height:34px;
			height:38px;
	}
	.sbToggle{
		background: url("../img/ddown.png") center center no-repeat;
		height:37px;
	}
	.sbOptions a:link, .sbOptions a:visited{
		color:#6c6c6c;
	}
	.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
			color:#6c6c6c;
	}

	.sbOptions a:hover{
		color:#033f66
	}
}


.slect-gradient{
	width: 213px;
	text-align: left;
	@extend .selectgrey;
	@include border-radius(0);
	color:#0b0b0b;
	.sbSelector{line-height: 36px;width: 93%}

	.sbHolder{
		border: solid 1px #d3d3d3;
		@include background-image(linear-gradient(bottom, #eee, #fdfdfd));
		height: 37px;
	}
}

.slect-flat{
	@extend .slect-gradient;
	.sbHolder{
		background: white;
	}
}