/*==========================================================================
  SIDEBAR
========================================================================== */
#sidebar{
	position:relative;
	z-index:1;

	.shadow{
		display:block;
		position:absolute;
		z-index:-1;
		right:0;
		top:-42px;
		@include size(100%, 100%);
		-webkit-box-shadow: inset -98px 0px 128px -55px rgba(247,246,240,1);
		-moz-box-shadow: inset -98px 0px 128px -55px rgba(247,246,240,1);
		box-shadow: inset -98px 0px 128px -55px rgba(247,246,240,1);
	}
}

.wdg-sidenav{
	h2{
		margin:0;
		margin-bottom:15px;
		font:700 17px "warnock-pro", sans-serif;
		text-transform:uppercase;
		color:#1f1f1f;
	}
	ul{	
		li{
			display:block;
			border-bottom:1px solid #cccccc;
			&:last-child{
				border-bottom:none;
			}

			&.active{
				a{
					background-color:#efefef;
					text-decoration:none;
				}
				ul{
					display: block;
					a{
						background-color: transparent;
					}
				}
			}

			a{	
				color:black;
				display:block;
				padding: 7px 5px;
				border-bottom:1px solid transparent;
				@include prefixed(transition, all 0.2s linear);
				&:hover{
					background-color:#efefef;
					text-decoration:none;
				}
				&.item{
					background-image:url("../img/arr_bue.png");
					background-position: 95% 50%;
					background-repeat: no-repeat;

				}
			}

		}
		ul {
			display:none;
			padding-top:10px;
			padding-bottom:10px;
			border-top:1px solid #cccccc;
			font-style: italic;
			&.open{
				display:block;
			}
			a{
				padding: 5px 5px;
				&:hover{
					color: #0072bc;
				}
			}
			li{
				list-style:disc;
				margin-left:20px;
				border-bottom:none;
				&:first-child{
					/*margin-left:0;*/
				}

				&.current{
					a{
						color: #0072bc;
					}
				}
			}
		}	 
	}

	.wdg-sidenav__italic{
		font-style: italic;

		ul ul li:first-child{
			margin-left:20px;;
		}
	}	
}



.side-box{
	border:1px solid #cccccc;
	padding:20px;
	overflow:hidden;
}

.side-map{
	iframe{
		@include size(100%, 140px);
	}
	
}

.sideForm{
	background:#3d454e;
	color:white;
	padding:23px;
	width:90%;
	margin:0 auto;
	overflow:hidden;
	hr{
		border-top:1px solid #5a6067;
		margin:21px -23px 14px -23px;
	}
	label{
		font-weight:400;
	}

	a.viewseat{
		@include inline-block();
		float:right;
		color:white;
		font-style:italic;
		font-size:0.9em;
	}

	.form-control{
		&:focus{
			border:none;
			@include box-shadow(none);
		}
	}
	.drkbox{
		background-color: #293037;
		@include box-shadow(inset 0 0 9px rgba(0,0,0,.44));
		padding:25px 0;
		text-align:center;
		margin:14px -23px 17px -23px;

	}
	.btn-blue{
		width:80%;
		padding-top: 10px;
		padding-bottom: 8px;
	}

	.fshare{
		text-align:center;
		margin-bottom:0;
		a{
			@include inline-block();
			@include size(35px, 34px);
			margin-right:4px;
			@include prefixed(transition, opacity 0.3s linear);
			&:hover{
				@include opacity(0.6);
			}

			&.fb{
				background:url("../img/icon_fb.png") 0 0 no-repeat;
				@include image-2x(url("../img/icon_fb@2x.png"), 53px, 55px)
			}
			&.tw{
				background:url("../img/icon_tw.png") 0 0 no-repeat;
				@include image-2x(url("../img/icon_tw@2x.png"), 53px, 55px)
			}
			&.google{
				background:url("../img/icon_google.png") 0 0 no-repeat;
				@include image-2x(url("../img/icon_google@2x.png"), 53px, 55px)
			}
		}
	}
}