.switch-button-label {
    float: left;

    font-size: 10pt;
    cursor: pointer;
}

.switch-button-label.off {
    color: #adadad;
}

.switch-button-label.on {
    color: #0088CC;
}

.switch-button-background {
    float: left;
    position: relative;

    background: #ccc;
    border: 1px solid #aaa;

    margin: 1px 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    cursor: pointer;
}

.switch-button-button {
    position: absolute;

    left: -1px;
    top : -1px;

    background: #FAFAFA;
    border: 1px solid #aaa;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* ======== COSTUM ======== */
#ticketview{
    overflow:hidden;
    margin-bottom:35px;
    .custom-check{
        display:none;
    }
    .switch-button-background{
        background:white;
        border:1px solid #d6d5c4;
        @include border-radius(12px);  
    }
    .switch-button-button{
        background:#f4f3f0;
        border:1px solid #d6d5c4;
    }
    .switch-button-button{
        @include border-radius(50%);
    }
    .switch-button-label{
        color:#b8b8b8;
        text-transform:uppercase;
        font-size:14px;
        line-height:2em;
        &.on{
            color:black;
        }
    }
}
